.btn
{
    width: 20%;
}

a
{
    color: darkcyan;
}

p
{
    margin-left: 10px;
}

li
{
    font-style: italic;
}

#michelle:link
{
    color: blue;
}

#michelle:visited
{
    color: red;
}

#josh, #josh2, #josh3, #josh4
{
    display: inline-block;
    margin-left: 4%;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
}

li
{
    text-align: center;
    margin-right: 16px;
    list-style-position: inside;
}

#rosa_talk
{
    border-radius: 20px;
}

#facts
{
    text-align: center;
}